<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greenvillage.mapper.SettingMapper" >

    <select id="findAllSetting"  resultType="com.greenvillage.pojo.Setting" >
        select * from user
    </select>

    <select id="findById" parameterType="string" resultType="com.greenvillage.pojo.Setting">
        select * from user where id = #{id }
    </select>

    <update id="updateById"  parameterType="com.greenvillage.pojo.Setting">
        UPDATE setting
        <trim prefix="set" suffixOverrides=",">
            <if test="backUserName!=null">backUserName=#{backUserName},</if>
            <if test="backPassword!=null">backPassword=#{backPassword},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="string">
        delete from setting where id = #{id}
    </delete>

    <insert id="save" parameterType="com.greenvillage.pojo.Setting" >
        insert into setting (backUserName,backPassword) values (#{backUserName},#{backPassword})
    </insert>

</mapper>